:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: darkred;
  background-color: pink;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  border-color: darkblue;
}

#root {
  flex: 1;
  padding-left: 0;
  padding-right: 0;
}

.header {
  border: 1px solid darkRed;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  line-height: 1.1;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
